.club-search-bar {
  display: grid;
  width: 100%;

  grid-template-columns: 2fr 1fr;

  margin-bottom: 1rem;
}

.club-search-bar input {
  width: 240px;
  padding: 10px;
  text-align: left;
  border-radius: 0;
  font-size: inherit;
  font-weight: inherit;
}

.club-search-bar .search {
  text-align: right;
  padding: 0;
  padding-bottom: 20px;
}

.club-of-the-day {
  display: flex;
  box-shadow: 5px 5px 5px #bdb4b2;
  border-radius: 20px;
}

.club-left {
  width: 40%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  height: 500px;
  border-radius: 20px 0 0 20px;

}

.club-left img {
  width: 100%;

}

.club-right {
  width: 60%;
  text-align: left;
  padding: 60px;
  display: flex;
  flex-direction: column;
  background: var(--beige);
  border-radius: 0 20px 20px 0;
  justify-content: center;
}

.club-right h1 {
  border-bottom: 1px solid black;
}

.club-right h3 {
  color: #44231A;
  font-size: 26px;
  padding-top: 20px;
}

.club-right h5 {
  padding: 10px 0;
  opacity: 0.7;
}

.club-right p {
  padding-top: 10px;
}

.allClubs {
  padding-top: 60px;
}


.allClubs .club{
  background:white;
  box-shadow: 3px 3px 5px #bfbfbf;
  border-radius: 8px;
  padding:15px;
  display: flex;
  align-items: center;
}

.allClubs .club-container {
  padding: 0;
}

.allClubs .club {
  padding: 20px 0;
  box-shadow: none;
}

.allClubs .club-container:nth-child(odd) {
  padding-right: 20px;
}

.allClubs .club-container:nth-child(even) {
  padding-left: 20px;
}

.allClubs p span {
  font-weight: normal;
  font-size: 14px;
}

.allClubs .col-left {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;

}

.allClubs .col-right {
  padding-left: 40px;

}


.allClubs .col-left img {
  border-radius: 20px
}

.join-modal {
  position: absolute;
  top: 0;
  visibility: hidden;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 150px;
  height: 150px;
  transition: 1s;
  border-radius: 20px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.club-container:hover .join-modal {
  visibility: visible;
  opacity: 1;
}

.join-modal button{
text-align: center;
  font-weight: bold;
padding:10px 20px
}

.join-modal button:hover{
  font-weight: bold;
}
.my-book-clubs-container{
  width:100%;
  height:500px;
  position: relative;
  overflow: hidden;
}
.my-book-clubs{
  display: flex;
  position: absolute;
  transition-duration: 1s;
}

.my-club-info{
  width:400px;
position: relative;
text-align: center;
}

.my-club-info img{
  width:100%;
  height:100%;
  object-fit: cover;
  border:5px solid white;
}

.club-btns{
  position: absolute;
  z-index:5;
  top:0;
  display: flex;
  justify-content: space-between;
  width:100%;
  top: 50%;
}

.club-btns button{
  width:50px;
  height:50px;
  padding:0;
  border:none;
  background:black;
  border-radius:50px;
  opacity: 0.7;
  transition: 0.5s;
}

.prev svg{
margin-left:5px;
margin-top:5px
}

.next svg{
  margin-top:4px;
}

.club-btns button:hover{
  opacity: 1;
}

.club-detail{
  position: absolute;
  top:500px;
  z-index:10;
  transition: 0.5s;
  background:rgba(255,255,255,0.8);
  height:100%;
  padding:40px;
}

.my-club-info:hover .club-detail{
  top:200px;
}

.prev{
  margin-left:-70px;
}

.next{
  margin-right:-70px;
}

.club-detail h3{
  padding:5px 0 15px 0;
  font-size:16px;
  opacity: 0.5;
}

.club-detail .btn{
padding-top:30px;
}

.club-detail .btn button{
  border-color:black;
  color:black;
  }


.club-listing:hover {
  cursor: pointer;
}
