

.content-container {
  display: flex;
  padding-top:10px;
}

.content-left {
width:20%;

}

.content-right {
width:80%;
padding-left:120px;
}

.content-left h2 {
  padding-bottom: 10px;
  margin-bottom:10px;
  border-bottom: 2px solid black;
}

.my-clubs p{
  padding:5px 0;
  line-height:24px;
}

.content-left div{
  padding-bottom:20px;
}

.content-left button{
  border-color: black;
  color: black;
  font-size: 18px;
  padding: 15px 25px;
  font-weight: bold;
}

.write-post textarea{
  padding:20px;
  width:100%;
  min-height:150px;
  resize: none;
  border-radius:10px 10px 0 0;
}
.write-post textarea:focus{
  outline: none !important;
  border-color:black;
}

.submit{
  width:100%;
  background:#B9946A;
  display:flex;
  justify-content: end;
  padding:10px 20px;
  border-radius:0 0 10px 10px;
}

.submit-btn{
display: flex;
width:40px;
height:40px;
background:white;
border-radius:50px;
justify-content: center;
align-items: center;
}
.write-post{
  padding-bottom:20px;
}
.club-post{
  margin:30px 0;
  box-shadow: 3px 3px 5px #cccccc;

}

.post-header{
  background:var(--wood);
  padding:20px 30px;
  display: flex;
  font-weight:bold;
  justify-content: space-between;
}

.post-header span{
  padding-left:5px;
  color:white;
  font-weight: bolder;
}

.post-body{
  padding:30px;
  display: flex;
  align-items: center;
}

.userImg{
  width:100px;
  height:100px;

}

.post-body{
  background-color: #eeeeee;
}
.userImg img{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: 200px;
}

.user-post{
  padding-left:60px;
  font-weight:500;

}

.required{
  text-align:center;
  display: flex;
  width:100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}

.lock{
  margin-top:40px;
  border:2px solid black;
  display: flex;
  width:150px;
  height:150px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;;
}

.lock svg{
  height: 50px;
    width: 100px;
}
.main-content-btn{
  padding-top:40px;
}
.main-content-btn button{
  font-weight:bold;
}

.search-bar input {
  width: 200px;
  padding: 10px;
  text-align: left;
  border-radius: 0;
}

.search-bar .search {
  text-align: right;
  padding: 0;
  padding-bottom: 20px;
}


/* calendar */

.calendarModalBox {
  background-color: white;
  position: absolute;
  top: 210px;
  left: 700px;
  width: 500px;
  height: 400px;
  padding: 40px;
  display: grid;
  flex-direction: column;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
  color: black;
  font-weight: bold;
  border-radius: 3%;
  align-items: center
}

.calendarModalDate {
  grid-row: 1;
}

.modalTopic{
  grid-row: 2/4;

}
.live-chat{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background:var(--beige);
  width:60px;
  height:60px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.live-chat svg{
  color:white !important;
}
.live-chat:hover{
  background:var(--wood);
}
