.main-stats {
  display: flex;
  text-align: center;
}

.main-stats span {
  color: #f47560;
}

.stats-upper-section {
  display: flex;
  flex-direction: column;
}

.stats-calendar-container {
  height: 100%;
  width: 100%;
  margin: calc(3vw + 1vmin) 0;
}

.stats-calendar {
  height: 280px;
  width: 100%;
  padding: calc(.1vw + 1vmin);
}

.stats-calendar div {
  text-align: center;
}

.stats-bottom-section {
  display: flex;
  padding-bottom: 50px;
}

.stats-sidebar {
  width: 20vw;
  height: 100%;
  padding: 2vw 3vw;
}

.stats-sidebar h3 {
  font-size: calc(1vw + .5vmin);
}

.sidebar-divider {
  border-top: 1px solid black;
  margin-top: calc(.2vw + 1vmin);
  padding: 30px 0;
}

.stats-container {
  width: calc(80vw + 1vmin);
  padding: 2vw 3vw;
}

.genres-stats-container {
  display: flex;
  height: 50vh;
  width: 100%;
}

.stats-graph-container {
  margin-top: 3vw;
  width: 100%;
}

/***********************     ReadingGoals Widget     ***********************/

.chart-text {
  transform: translateY(0.25em);
}

.chart-number {
  font-size: 0.6em;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25em);
}

.chart-label {
  font-size: 0.18em;
  text-transform: uppercase;
  text-anchor: middle;
  transform: translateY(0.7em);
}

.figure-key-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.shape-circle {
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 21px;
  border-radius: 50%;
}

/***********************     No Data     ***********************/
.genres-no-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}